html {
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(images/amp-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*font-family: 'Open Sans', sans-serif;*/
}

body {
    background-color: rgba(0, 0, 0, 0);
}

#title-card {
    text-align: center;
    color: #E7DFDD;
    position: relative;
    top: 100px;
    z-index: 1;
}

#title-card h1 {
    font-size: 150px;
    margin-bottom: 30px;
}

#title-card h2 {
    font-size: 60px;
    margin-bottom: 50px;
}

button {
    box-sizing: border-box;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: 0;
    background-color: #F79E02;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    outline: 0;
}



.quiz-area {
    height: 800px;
    width: 800px;
    background-color: #1B9CE5;
    margin: 0 auto;
    display: none;
    position: relative;
    top: 300px;
    border-radius: 4px;
    z-index: 100;
}

#question-counter {
	text-align: center;
}

#question-counter::after {
	content: "/7";
}

#question-box {
	width: 760px;
	height: 200px;
	margin: 0 auto;
	background-color:#1B9CE5;
	font-size: 30px;
	color: white;
	position: relative;
	top: 20px;
	border-radius: 4px;
	padding: 0 5px;
}

#question-box p::before {
	content: "Question: ";
}

.answers {
	position: relative;
	top: 50px;
	font-size: 25px;
	color: #A38900;
	text-align: center;
}

.answers input {
	box-sizing: border-box;
	border: 2px solid white;
	padding: 10px;
	background-color: #1B9CE5;
	width: 80%;
	margin: 0 auto 80px auto;
	border-radius: 10px;
	transition: background-color .5s, color .5s, border .5s;
	outline: 0;
	color: white;
}

.answers input:hover {
	background-color: #F79E02;
	color: white;
	border: 2px solid #F79E02;
}

.answers p {
	color: white;
	position: relative;
	bottom: 70px;
}

#next {
	width: 800px;
	position: relative;
	bottom: 60px;
	background-color: #F79E02;
	color: white;
	border: 0;
	z-index: 1;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.correct-answer {
	background-color: green !important;
	border: 2px solid green !important;
}

.wrong-answer {
	background-color: red !important;
	border: 2px solid red !important;
}

.results-page {
	height: 500px;
	z-index: 0;
	position: relative;
	bottom: 500px;
	text-align: center;
	display: none;
	color: white;
}

.results-page h1 {
	font-size: 150px;
}

.results-page p {
	font-size: 70px;
}



.results-page a {
	text-decoration: none;
	color: white;
}

